extends layout

block content
		div.container
		div.table
			div.circle#ball8(data-type="8-ball")
			div.circle#cueball(data-type="cue-ball")
		form#table-info(role='form')
			div.form-group
				label Title
				input.form-control#title(name='title' type='text' placeholder='title')
			div.form-group
				label Note
				textarea.form-control#note(name="note" rows="5" placeholder="add note here")
			button.btn.ntn-default(type='submit') Submit