extends layout

block content
		div.container
		div.table-set
			img(src="/image/pool-table-top-view.png")
			img.balls(src='/image/4.png', data-type="0")


			//- div.circle#ball8(data-type="8")
			//- img.balls(src='/image/4.png', data-type="0")
			//- img.balls(src='/image/1.png', data-type="0")
			//- img.balls(src='/image/2.png', data-type="0")
			//- img.balls(src='/image/0.png', data-type="0")

		form#table-info(role='form')
			div.form-group
				label Title
				input.form-control#title(name='title' type='text' placeholder='title')
			div.form-group
				label Note
				textarea.form-control#note(name="note" rows="5" placeholder="add note here")
			button.btn.ntn-default(type='submit') Submit