extends layout

block content
	div.container.margin-top
		div.row
			div.col-md-3
			div.col-md-6
				h2.font-size60 Billiards/Pool Training Notebook
			div.col-md-3
		div.row
			div.col-md-4
			div.col-md-4
				h4.font-size40 Take your game to the next level! 
			div.col-md-4
		div.row
			div.col-md-3
			div.col-md-9
				h4.font-size40 Sign in to add shots and use them as references for practices.
	


