extends layout

block content
	//- if user signed in, display 'username' @ top right corner
	div.navbar.navbar-default.navbar-fixed-top(role="navigation")
		.container
			ul.nav.navbar-nav
				li.active
					a#add-shot(href="/#") Add Shots
				li
					a#practice-shot(href="#") Practice Shots
				li 
					a#archive(href="#") Archive
				li 
					a#stat(href="#") Stat
			if user
				div.navbar-text.navbar-right#user-name #{user.username}
				div.navbar-text.navbar-right#log-out 
					a(href="/auth/logout") Log Out
			else
				//- else display sign in link @ top right corner
				div.navbar-text.navbar-right
					a(id="sign-in" href="/auth/login") Sign In

	div.container.margin-top
		div.row
			div.col-md-3
			div.col-md-6
				h2 Billiards/Pool Training Notebook
			div.col-md-3
		div.row
			div.col-md-4
			div.col-md-4
				h4 Take your game to the next level! 
			div.col-md-4
		div.row
			div.col-md-3
			div.col-md-9
				h4 Sign in to add shots and use them as references for practices.
	
	div.container
		div.table
			div.circle#ball8(data-type="8-ball")
			div.circle#cueball(data-type="cue-ball")
		form.navbar-form.navbar-left#table-info(role='search')
			div.form-group
				input.form-control#title(type='text' placeholder='title')
				input.form-control#type-of-ball(type='text' placeholder='type of ball')
				button.btn.ntn-default(type='submit') Submit

