extends layout

block content
	div.container.margin-top
		div.row
			div.col-md-3
			div.col-md-6
				h2 Billiards/Pool Training Notebook
			div.col-md-3
		div.row
			div.col-md-4
			div.col-md-4
				h4 Take your game to the next level! 
			div.col-md-4
		div.row
			div.col-md-3
			div.col-md-9
				h4 Sign in to add shots and use them as references for practices.
	
	div.container
		div.table
			div.circle#ball8(data-type="8-ball")
			div.circle#cueball(data-type="cue-ball")
		form#table-info(role='form')
			div.form-group
				label Title
				input.form-control#title(name='title' type='text' placeholder='title')
			div.form-group
				label Note
				textarea.form-control#note(name="note" rows="5" placeholder="add note here")
			button.btn.ntn-default(type='submit') Submit

