doctype html
html(lang='en')
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width initial-scale=1")
	title Passport Authentication
	link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="/css/main.css")


body
	block content

	script(type='text/javascript', src="/javascript/jquery-2.1.1.min.js")
	script(type='text/javascript', src="/javascript/main.js")


	