extends layout

block content
  //- Error comes through via the context passed when calling res.render('login', {...})
  //- You'll see this in controllers/authentication.js
  //- If the error exists, we'll display it.
  if error
    h3= error

  div: img(src="../image/spinning6.gif")
  div.container
    //- Form for handling existing user logins.
    h1 Existing Users
    form(action="/auth/login", method="post")
      input.text-center(type="text", name="username", placeholder="Username")
      input.text-center(type="password", name="password", placeholder="Password")
      input(type="submit" value = "Sign In")

    //- Form for allowing new users to register.
    h1 Register
    form(action="/auth/signup", method="post")
      input.text-center(type="text", name="username", placeholder="Username")
      input.text-center(type="email", name="email", placeholder="Email")
      input.text-center(type="password", name="password", placeholder="Password")
      input(type="submit")

    img#evolution(src="/image/evolution.png")