#log-out{
	display: none;
	float: right;	
}

.margin-top70{
	margin-top: 70px;
}

.left{
	position: relative;
}

.center{
	position: absolute;

}
.table-set {
	position: relative;
}

img {
	 /*-webkit-transform: rotate(90deg); */
	 height: 200px;
	 /*widows: 94px;*/
	 /*margin-top: 200px;*/
	 position: relative;
}
/*.tablePracticeShots{
	position: relative;
}*/

.balls{
	height: 30px;
	width: 30px;

}

/*.table{
	background-color: green;
	width: 200px;
	height: 400px;
	position: relative;
}*/

.circle{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;

}

#ball8{
	background-color: black;
/*	top: 30px;
	left: 50px;*/
}

#cueball{
	background-image: url('/image/ball0.svg');
	position: absolute;
	top: 10px;
	left: 10px;
}