#log-out{
	display: none;
	float: right;	
}

.margin-top70{
	margin-top: 70px;
}

.left{
	position: relative;
}

.center{
	position: absolute;

}

img {
	 -webkit-transform: rotate(90deg); 
	 height: 167px;
	 widows: 94px;
	 margin-top: 200px;
}

.table{
	background-color: green;
	width: 200px;
	height: 400px;
	position: relative;
}

.circle{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;

}

#ball8{
	background-color: black;
	top: 30px;
	left: 50px;
}

#cueball{
	background-color: white;
	top: 60px;
	left: 100px;
}