#log-out{
	display: none;
	float: right;	
}

.margin-top70{
	margin-top: 70px;
}

.left{
	position: relative;
}

.table{
	 /*-webkit-transform: rotate(90deg); */
	 height: 200px;
	 width: 400px;
	 position: relative;
}	


.ball{
	height: 25px;
	width: 25px;
	/*position: absolute;*/
	/*display: inline-block;*/
	vertical-align: top;
	margin-left: 25px;
	margin-top: 25px;


}


